<style>
body{ background-color:#cccccc;}
</style>
<%- include('../layout/header', {title: "Logged Out", user: user}) %>
<h1>Logged Out!</h1>
<p>You have logged out successfully</p>
<p>
  <a href="/login">Sign back in?</a>
</p>
