<%- include('../layout/header', {title: "Sign up", user: user}) %>
<html>
<body>
<h1>Sign up</h1>
<div class="message">
  <%= message %>
</div>
<form action="/signup" method="POST">
  <label for="username">Select a Username
    <input name="username" type="text">
  </label>
  <label for="password">Choose Password
     <input name="password" type="password">
  </label>
  <input type="submit" id="signup" value="Sign up">
</form>
</body>
<script>

</script>


</html>
