<link rel ="stylesheet" href="prism.css"/>
<script src="prism.js"> </script>

<h1> <li>
  <a href="/blog/<%= blog.postId %>">

    [<%= blog.title %>]

  </a> &nbsp;
  <a href="/blog/<%= blog.postId %>/edit">Edit </a>&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class='bttn' href="/blog/<%= blog.postId %>/delete">x</a>
</li> </h1>
