<html>
<body>

 <label for="user" font-size="46px">Username:</label>
 <input name="user" type="text" id="user"
 value="<%= blog.username %>" autocomplete="off" />

 <label for="admin" font-size="46px">Admin:</label>
 <input name="admin" type="text" id="admin"
 value="<%= blog.admin %>" autocomplete="off" /> </br>

</body>

<script>

</script>
</html>
