<html>

<link rel ="stylesheet" href="/prism.css"/>
<script src="/prism.js"> </script>

<body>

 <label for="user" font-size="46px">Username:</label>
 <input name="user" type="text" id="user"
 value="<%= blog.username %>" readonly="readonly" autocomplete="off" />

 <label for="admin" font-size="46px">Admin:</label>
 <input name="admin" type="text" id="admin"
 value="<%- blog.admin? 'Yes':'No'%>" readonly="readonly" autocomplete="off" />

 <label for="blockedUser" font-size="46px">User blocked? :</label>
 <input name="blockedUser" type="text" id="blockedUser"
 value="<%- blog.blocked? 'Yes':'No'%>" readonly="readonly" autocomplete="off" /> </br>


</body>

</html>
